body {
    text-align: center;
    font-family: 'Valera Round', sans-serif;
    background-color:rgb(247, 234, 255);
}

img {
    margin-top: 20vh;
    width: 25%;
    padding: 0.5%;
}

img:hover {
    transform:scale(1.2);
    transition:0.5s;
    z-index:9998;
}

#tl {
    position:fixed;
    top:10vh;
    left:45vw;
    font-size:7vh;
}

#bh {
    text-decoration:none;
    color:black;
    font-weight:bold;
    position:fixed;
    bottom:35vh;
    left:45.5vw;
    font-size:7vh;
    transition-property:color;
    transition-duration:1s;
}

#bh:hover {
    color:#ba55d3;
}